<!DOCTYPE html>
<html lang='ja'>
	<head>
		<meta charset='utf-8'>
		<title>★2014.12.11 忘年会ビンゴゲーム★</title>
	
		<link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
	
	</head>
	<body>
		<div class='navbar navbar-inverse'>
			<div class='container'>
			<a class='navbar-brand' href='/'>
				★2014.12.11 忘年会ビンゴゲーム★</a>
			</div>
		</div>
		
		<div class='container'>
			<%= yield %>
		</div>
	</body>
</html>
