<!DOCTYPE html>
<html lang='ja'>
	<head>
		<meta charset='utf-8'>
		<title>★2014.12.11 忘年会ビンゴゲーム★</title>

		<link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<link href='/css/animsition.min.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/sample.css" type="text/css">
		<link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/js/jquery.animsition.min.js"></script>

		<script>
		$(document).ready(function() {

			$(".animsition").animsition({

				inClass               :   'fade-in',
				outClass              :   'fade-out',
				inDuration            :    1500,
				outDuration           :    800,
				linkElement           :   '.animsition-link',
				// e.g. linkElement   :   'a:not([target="_blank"]):not([href^=#])'
				loading               :    true,
				loadingParentElement  :   'body', //animsition wrapper element
				loadingClass          :   'animsition-loading',
				unSupportCss          : [ 'animation-duration',
				'-webkit-animation-duration',
				'-o-animation-duration'
				],
				//"unSupportCss" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
				//The default setting is to disable the "animsition" in a browser that does not support "animation-duration".

				overlay               :   false,

				overlayClass          :   'animsition-overlay-slide',
				overlayParentElement  :   'body'
			});
		});
		</script>

	</head>
	<body <%= @bgcolor %> >
		<div class='navbar navbar-inverse'>
			<div class='container'>
			<a class='navbar-brand' href='/'>
				★2014.12.11 忘年会ビンゴゲーム★</a>
			<ul class='nav navbar-nav'>
				<li><a href='/'>出た目一覧</a></li>
				<li><a href='/lottery'>回す</a></li>
				<li><a href='/new'>新しく始める</a></li>
			</ul>
			</div>
		</div>

		<div class='container'>
			<%= yield %>
		</div>
	</body>
</html>
