<!DOCTYPE html>
<html lang='ja'>
	<head>
		<meta charset='utf-8'>
		<title>★2014.12.11 忘年会ビンゴゲーム★</title>

		<link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<div class='navbar navbar-inverse'>
			<div class='container'>
			<a class='navbar-brand' href='/'>
				★2014.12.11 忘年会ビンゴゲーム★</a>
			<ul class='nav navbar-nav'>
				<li><a href='/'>出た目一覧</a></li>
				<li><a href='/lottery'>回す</a></li>
				<li><a href='/new'>新しく始める</a></li>
			</ul>
			</div>
		</div>

		<div class='container'>
			<%= yield %>
		</div>
	</body>
</html>
