<div class="curled-box animsition">
  <div class="text-center web-font">
    <p>
      <% if @sel_num == 0 then %>
      おわり
      <% else %>
      <%= @sel_num %>
      <% end %>
    </p>
  </div>
</div>
